<%= form_with(model: tire) do |form| %>
  <% if tire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tire.errors.count, "error") %> prohibited this tire from being saved:</h2>

      <ul>
        <% tire.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :rin %>
    <%= form.text_field :rin %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
